.catalog_container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
}

.catalog_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}