.contacts_container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    
}

.contacts {
    border: 1px solid black;
    padding: 20px;
    margin-top: 60px;
}

.contacts_bar, .store_bar {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(243, 243, 243);
}

.contacts_title, .store_title {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 100;
}

.online-list_subtitle {
    margin-bottom: 25px;
}

.phone_number, .email_adress {
    display: block;
    margin-bottom: 10px;
}

.main_shop {
    margin-bottom: 10px;
}

.bar_logo {
    margin-right: 10px;
}

@media (max-width: 425px) {
    .contacts_title, .offline-list_subtitle {
        font-size: 28px;
    }

    .email_adress {
        display: block;
        margin-top: 15px;
    }
}