.buy-form_content_active {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-form_content, .buy-form {
    display: none;
}

.buy-form_active {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 2px solid black;
}

.close-form_button {
    margin-bottom: 10px;
}

.name-input, .adress-input, .phone-input, .lastname-input {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.phone-input {
    margin-bottom: 20px;
}

.self-delivery-block {
    margin-bottom: 5px;
}

.self-delivery-checkbox {
    margin-right: 5px;
}

.submit-button {
    margin-top: 25px;
    border: 1px solid black;
    padding: 5px;
}

.self-delivery-list {
    border: 1px solid black;
    padding: 5px;
    font-size: 14px;
}

.info {
    margin-top: 20px;
}