.filter_container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 50px;
    background-color: rgb(238, 238, 238);
    overflow: hidden;
    height: 100px;
}

.filter_container_active {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 50px;
    background-color: rgb(238, 238, 238);
    height: auto;
    overflow: visible;
}

.filter_list {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.price_filter {
    display: flex;
    flex-direction: column;
}

.filter_title {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 40px;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.show-more-button {
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
    rotate: 180deg;
}

.show-more-button_hidden {
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
    rotate: 360deg;
}

.availability_checkbox {
    margin-left: 10px;
    vertical-align: middle;
}

.availability_label {
    display: block;
    padding-top: 5px;
}

.another_filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.price_filter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.brand_select, .minprice_input, .maxprice_input {
    margin-left: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: #fff;
}

.minprice_input {
    margin-left: 16px;
}

.filters_button {
    border: 1px solid black;
    padding: 20px;
    transition-duration: 150ms;
    transition-property: background-color;
    background-color: #fff;
}

.filters_button:hover {
    background-color: rgb(226, 226, 226);
}

.filters_button:active {
    background-color: rgb(196, 196, 196);
}


@media (max-width: 769px) {
    .filter_list {
        display: block;
    }

    .another_filters, .price_filter {
        margin-bottom: 20px;
    }

}

@media (max-width: 417px) {
    .minprice_input, .maxprice_input {
        margin-left: 0;
    }

    .filter_title {
        font-size: 22px;
    }
}

@media (max-width: 320px) {
    .filter_title {
        font-size: 18px;
    }

    .show-more-button {
        margin-left: 10px;
        margin-top: 0px;
        cursor: pointer;
        rotate: 180deg;
    }

    .show-more-button_hidden {
        margin-left: 10px;
        margin-top: 0px;
        cursor: pointer;
        rotate: 360deg;
    }
}