.promo_container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    gap: 40px;
}

.promo_information {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

.promo_text {
    margin-top: 50px;
}

.promo_title {
    margin-bottom: 50px;
    font-size: 54px;
    font-weight: 100;
    text-transform: uppercase;
}

.promo_link {
    border: 1px solid black;
    padding: 20px;
    transition-duration: 150ms;
    transition-property: background-color;
}

.promo_link:hover {
    background-color: rgb(233, 233, 233);
}

.promo_link:active {
    background-color: rgb(196, 196, 196);
}

.specs_list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.specs_item:not(:last-child) {
    padding-right: 20px;
    border-right: 1px solid black;
}

.specs_item {
    color: rgb(105, 105, 105)
}

.specs_quantity {
    font-size: 40px;
}

.promo_specs {
    margin-left: 0px;
}


@media (max-width: 882px) {
    .promo_title {
        font-size: 44px;
    }
}

@media (max-width:768px) {

    .promo_information {
        margin-top: 0px;
    }

    .promo_text {
        text-align: center;
    }

    .promo_title{
        font-size: 38px;
    }
}

@media (max-width: 570px) {

    .specs_list {
        display: block;
    }

    .specs_item {
        padding-right: 20px;
        border-right: 1px solid black;
        width: 250px;
    }

    .specs_item:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media (max-width: 416px) {
    .specs_item {
    padding-right: 20px;
    border-right: 1px solid black;
    }

    .promo_title {
        font-size: 30px;
    }

    .promo_information {
        margin-top: 0px;
    }

    .specs_quantity {
    font-size: 30px;
}
}