.header_container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}

.header {
    border-bottom: 2px solid rgb(185, 185, 185);
}

.header_nav {
    margin-left: auto;
}

.navigation_list {
    display: flex;
    gap: 40px;
}

.cart-icon {
    width: 30px;
    margin-right: 20px;
}

.menu_button {
    display: none;
}

.logo {
    margin-left: 20px;
    font-size: 32px;
    font-weight: bold;
}

.navigation_list-item-link {
    transition-duration: 150ms;
    transition-property: color;
}

.navigation_list-item-link:hover {
    color: rgb(112, 112, 112);
}

.navigation_list-item-link:active {
    color: rgb(172, 172, 172);
}

@media (max-width: 768px) {
    .user_bar {
        display: flex;
    }

    .menu_button {
        display: block;
        margin-right: 20px;
        font-size: 18px;
        text-transform: uppercase;
    }

    .navigation_list {
        display: none;
    }

    .header_container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .logo, .cart-icon {
        margin: 0;
    }
}