.cart_item {
    margin: 0 auto;
    box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.17);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.item-cart_photo {
    width: 100px;
}

.cart_info {
    display: flex;
    align-items: center;
}

.item-cart_name {
    font-size: 28px;
    font-weight: 100;
    width: 335px;
}

.cart_info_bar {
    display: flex;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    margin-left: auto;
    transition-property: background-color;
    transition-duration: 150ms;
}

.cart_info_bar:hover {
    background-color: rgb(226, 226, 226);
}

.count {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.item-cart_value {
    margin: 0px 10px
}

@media (max-width: 500px) {
    .item-cart_name {
        margin-top: 10px;
        font-size: 18px;
        width: auto;
    }

    .cart_info_bar {
        margin-top: 10px;
        margin-left: 0;
        padding: 10px;
    }

    .cart_info {
        display: block;
        text-align: center;
    }
}