.delivery_container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.delivery {
    border: 1px solid black;
    padding: 20px;
    margin-top: 60px;
}

.delivery_bar, .payment_bar {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(243, 243, 243);
}

.delivery_title, .payment_title {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 100;
}

.bar_logo {
    margin-right: 10px;
}

.delivery_information, .payment_information {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .delivery_title, .payment_title {
        font-size: 22px;
    }
}